body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main-page {
    background: #455a64;
    /*height: 100%;*/
    display: table-cell;
    vertical-align: middle;
    /*align-items: center;
    justify-content: center;*/
}

.form {
    display: table;
    margin: auto;
}

.j-pro {
    background-color:#f9fafd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,.6);
    -moz-box-shadow:0 2px 5px rgba(0,0,0,.6);
    -o-box-shadow:0 2px 5px rgba(0,0,0,.6);
    box-shadow:0 2px 5px rgba(0,0,0,.6);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    color:rgba(0,0,0,.54);
    font:16px 'Open Sans',Helvetica,Arial,sans-serif;
}